body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 20px;
}


.container {
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #16423C;
    color: white;
}

.status .pending {
    background-color: #f8d7da;
    color: #721c24;
    padding: 5px 10px;
    border-radius: 5px;
}

.action-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    color: #48CFCB;
    font-size: 18px;
}

.action-btn:hover {
    color: #229799;
}
